{% extends 'base.html.twig' %}

{% block body %}

    <section class="ftco-section about-section">
        <div class="container">
            <div class="row d-flex my-5" data-scrollax-parent="true">
                <div class="col-md-4 author-img" style="background-image: url({{ asset('images/profile.JPG') }});" data-scrollax=" properties: { translateY: '-70%'}"></div>
                <div class="col-md-2"></div>
                <div class="col-md-6 wrap ftco-animate">
                    <div class="about-desc">
                        <h1 class="bold-text">CV</h1>
                        <div class="p-5">
                            <h2 class="mb-5">Bonjour, je suis Caroline Moulin.</h2>
                            <p>Je suis toujours à la recherche de nouvelles compétences. Pour cela je suis auto-didacte et je suis des formations comme celle de Diginamic et d'OpenClassrooms.</p>
                            <p> Avant cela, j'ai eu l'occasion de mettre mes compétences à disposition pour plusieurs sociétés.</p>
                            <p><a href=url{{ asset('../images/cv2.pdf') }} download="cv">Télécharger mon CV</a></p>
                            <ul class="ftco-footer-social list-unstyled mt-4">
                                <li><a href="https://twitter.com/CarolineMoulin4" target="_blank"><span class="icon-twitter"></span></a></li>
                                <li><a href="https://www.linkedin.com/in/camoulin" target="_blank"><span class="icon-linkedin"></span></a></li>
                                <li><a href="http://caroline-moulin.fr" target="_blank"><span class="icon-github"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end mt-5">
                <div class="col-md-10">
                    <div class="profile ftco-animate">
                        <h2 class="mb-4">Profil</h2>
                        <h3 class="mb-4">Je suis développeuse web près de Montpellier.</h3>
                        <p>Je suis toujours à la recherche de nouvelles compétences. Pour cela je suis autodidacte et je suis des formations comme celle de Diginamic et d'OpenClassrooms.</p>
                        <p>Avant cela, j'ai eu l'occasion de mettre mes compétences à disposition pour plusieurs sociétés.</p>

                    </div>

            <div class="row mt-5 flex-column ftco-animate">
                <div class="col-md-8">
                    <h2 class="mb-4">Mes compétences</h2>
                </div>
                <div class="exp-wrap py-4">
                    <div class="desc">
                        {% for skill in skills %}
                            <h4>{{ skill.skill }}</h4>
                            <div class="year">
                                <p><img class="img-fluid mb-5" src="{{ asset(skill.logo) }}" alt="logo compétence"></p>
                            </div>
                            <p class="mb-5"></p>
                        {% endfor %}
                    </div>

              </div>
                <div>
                    <p>J'ai obtenu un score de 735 points à la certification Opquast.</p>
                    <a href="https://oqs.li/YFMWUD" target="_blank" rel="noopener noreferrer"> Lien d'authentification </a>
                </div>
                </div>

            </div>
                    <div>
                        <div class="exp mt-5 ftco-animate">
                            <h2 class="mb-4">Expérience</h2>
                            {% for job in jobs %}
                                <div class="exp-wrap py-4">
                                    <div class="desc">
                                        <h3>{{ job.entreprise }} <span> - {{ job.position }}</span></h3>
                                        <img class="img-fluid mb-5" src="{{ asset(job.logo) }}" alt="logo entreprise">
                                        <p>{{ job.missions }}</p>
                                        <p class="year">De {{ job.dateStart |date('Y') }} à {{ job.dateEnd |date('Y') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                        <div class="exp mt-5 ftco-animate">
                            <h2 class="mb-4">Formations</h2>
                            <div class="exp-wrap py-4">
                                <div class="desc">
                                    {% for training in trainings %}
                                        <h4>{{ training.graduate }}<span>  {{ training.institution }}</span></h4>
                                        <div class="year">
                                            <p>{{ training.date |date('Y') }}</p>
                                        </div>
                                        <p class="mb-5"></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}